= form_with model: @message, class: 'ui form', id: 'message_form',
  format: :js do |form|
  = hidden_field_tag :conversation_id, @conversation.id
  = form.text_area :body, rows: 2, class: 'field', autofocus: true
  = form.submit 'Send', class: 'ui blue button', id: 'message_submit'

  = link_to 'https://www.webpagefx.com/tools/emoji-cheat-sheet/',
    class: 'ui label', target: :_blank do
    = emojify ':smile: Emoji cheat sheet'
