.ui.top.attached.yellow.clearing.segment
  %h2.ui.header
    %i.configure.icon
    .content
      Edit profile
      .sub.header Manage your profile

.ui.attached.segment
  = form_with model: [user, user.profile],
    multipart: true,
    class: 'ui form',
    local: true do |form|

    .equal.width.fields
      .field
        = form.label :birthday
        = form.date_field :birthday

      .field
        = form.label :education
        = form.text_field :education

    .equal.width.fields
      .field
        = form.label :hometown
        = form.text_field :hometown

      .field
        = form.label :profession
        = form.text_field :profession

    .equal.width.fields
      .field
        = form.label :company
        = form.text_field :company

      .field
        = form.label :relationship_status
        = form.select :relationship_status, relationship_options, { include_blank: true}, { class: 'ui fluid dropdown' }

    .equal.width.fields
      .field
        = form.label :about
        = form.text_field :about

      .field
        = form.label :phone_number
        = form.text_field :phone_number

    .actions
      = form.submit class: 'ui blue button'
