= provide :title, "#{current_user.name} | Edit profile"

// User aside info
.four.wide.column
  = render 'users/aside', user: current_user

.twelve.wide.column
  .ui.centered.grid

    = render 'users/cover_menu', user: current_user

    .row
      .column
        // Profile edit form
        = render partial: 'form', locals: { user: current_user, relationship_options: @relationship_options }
