.ui.comments
  .comment
    .avatar
      = image_tag notification.actor.profile.avatar.url :thumb
    .content
      %span.author.link= notification.actor.name
      .metadata
        .date
          = time_ago_in_words notification.created_at
          ago
        - if !notification.read? && notification.recipient == current_user
          %span.ui.red.empty.circular.label
      .text
        = notification.action
        %b= message

