.comment{ 'data-id': comment.id, 'data-type': comment.class }

  // Comment author's avatar
  .avatar.image
    = image_tag comment.author.profile.avatar.url :thumb

  .content

    // Comment author's name
    = link_to comment.author.name, user_path(comment.author), class: 'author'

    .metadata
      // Comment created at
      %span.date
        = l(comment.created_at, format: '%B, %d %Y %H:%M')

    // Comment text
    .text
      = simple_format comment.text

    // Comment actions
    .likes.actions

      // Like
      = render_likes comment

      %a.likes.count{ 'data-link': comment_likes_path(comment),
        'data-behavior': 'like-count-container',
        'data-inverted': '' }
        = pluralize comment.reload.likes_count, 'like'

      - if policy(comment).destroy?
        // Delete comment button
        = link_to 'Delete', comment_path(comment, format: :js),
                  method: :delete,
                  remote: true,
                  data: { confirm: 'Are you sure you want to delete it?' }
