= form_with model: [commentable, Comment.new],
  class: 'ui form' do |form|

  = hidden_field_tag 'comment[author_id]', current_user.id

  .field
    = form.text_area :text, placeholder: 'Add comment', rows: 2

  .actions
    = form.submit 'Comment',
      class: 'ui blue right floated comment-submit button'

  = link_to 'Cancel', nil,
    data: { 'behavior': 'cancel-link' },
    class: 'ui right floated basic blue button'
