= provide :title, "Search | Comments"

= render 'menu'

- if !@resources.blank?
  .row
    .sixteen.wide.column
      .ui.left.aligned.stackable.grid
        - @resources.each do |resource|
          .eight.wide.column
            .ui.segment
              .ui.divided.link.items
                = link_to url_for(resource.commentable), class: 'item' do
                  .ui.tiny.image
                    = image_tag resource.commentable.author.avatar.url(:thumb)
                  .content
                    .header= resource.author_name
                    .description= resource.text.truncate(130) || ''
  .row
    = paginate @resources

- else
  .ui.blue.message
    %h3.header No comments
