.row
  .column
    .ui.blue.attached.segment
      %h2.ui.header
        %i.search.teal.icon
        .content
          = "Results for '#{@query}'"

.ui.two.column.row

  .column
    .ui.fluid.category.search
      .results.transition.visible.index
        - unless @people.nil? || @people.blank?
          .category
            .name
              = pluralize @people.size, 'person'
            - @people.each do |person|
              = link_to person, class: 'result' do
                .image
                  = image_tag person.profile.avatar.url :thumb
                .content
                  .title= person.name
                  .description= person.profile.hometown
        - else
          .result
            .content
              %h3.header
                No results for people
  .column
    .ui.fluid.category.search
      .results.transition.visible.index
        - unless @status_updates.nil?  || !@status_updates.any?
          .category
            .name= pluralize @status_updates.size, 'status update'
            - @status_updates.each do |s_update|
              = link_to s_update, class: 'result' do
                .image
                  = image_tag s_update.author.profile.avatar.url :thumb
                .content
                  .text= truncate s_update.text, length: 100
                  .description= s_update.author.name
        - else
          .result
            .content
              %h3.header
                No results for status updates
