- friend = conversation.other_user(current_user)

= link_to conversation,
  class: class_string('item conversation', 'active' => current_page?(conversation_path(conversation))),
  id: "conversation-#{conversation.slug}" do

  .ui.tiny.image
    = image_tag friend.avatar.url :mini
  .content

    %span.header= friend.name
    = online_status(friend)

    .description
      = emojify conversation.messages.last.body.truncate(25)

    .extra
      %span.date #{time_ago_in_words conversation.messages.last.created_at} ago

      - if conversation.messages.not_sent_by(current_user).unread.exists?
        %span.ui.red.empty.circular.label
