.ui.clearing.segment
  .content
    = form_with model: (status_update.persisted? ? status_update : [current_user, status_update]),
      multipart: true,
      class: 'ui form' do |form|

      .field
        = form.text_area :text,
          rows: 1,
          placeholder: 'What\'s on your mind today?',
          id: 'status_update__textarea'

      .actions{ style: 'display: none;'}
        .equal.width.fields
          .field
            = form.label :image
            = form.file_field :image

          .field
            = form.label :cloud_image
            = form.text_field :remote_image_url, placeholder: 'Paste image url here...'

        = form.submit 'Post',
          class: 'ui blue right floated button',
          data: { 'disable-with': 'Posting...' }

        - if status_update.persisted?
          = link_to 'Cancel', request.referrer,
            class: 'ui basic grey right floated button'

          = link_to 'Delete',
            status_update_path(status_update),
            method: 'delete',
            class: 'ui red basic right floated button',
            data: { 'confirm': 'Are you sure you want to delete it?' }
