.ui.clearing.segment
  .content
    = form_with model: (status_update.persisted? ? status_update : [current_user, status_update]),
      multipart: true,
      class: 'ui form',
      local: true do |form|

      = hidden_field_tag 'status_update[author_id]', current_user.id

      .field
        = form.text_area :text,
          rows: 3,
          placeholder: 'What\'s on your mind today?',
          data: { 'behavior': 'su-form-link' }

      .actions{ style: 'display: none;'}
        .equal.width.fields
          .field
            = form.label :upload_image
            = form.file_field :image

          .field
            = form.label :image_from_url
            = form.text_field :remote_image_url, placeholder: 'Paste image url here...'

        = form.submit 'Post',
          class: 'ui blue right floated button'

        = link_to 'Cancel', nil,
          class: 'ui blue basic right floated button',
          data: { 'behavior': 'su-form-cancel-link' }

        - if status_update.persisted?

          = link_to 'Delete',
            status_update_path(status_update),
            method: 'delete',
            class: 'ui red basic right floated button',
            data: { 'confirm': 'Are you sure you want to delete it?' }
