= provide :title, 'Notifications'

.row
  .column
    .ui.blue.attached.clearing.segment
      %h2.ui.left.floated.header
        %i.bell.teal.icon
        .content Notifications

      - if @all_notifications.exists?
        // Link to clear notifications
        = link_to clear_notifications_path,
          class: 'ui basic red right floated button',
          method: 'POST',
          data: { confirm: 'Are you sure?'} do
          Clear all notifications

- if @all_notifications.exists?
  .row
    .sixteen.wide.column
      .ui.left.aligned.stackable.grid

        - @all_notifications.each do |notification|
          .eight.wide.column
            .ui.segment
              = render partial: "notifications/#{notification.notifiable_type.underscore.pluralize}/#{notification.action}",
                                            locals: { notification: notification },
                                            formats: [:html]
- else
  .ui.blue.message
    .content
      .header
        No new notifications
.row
  = paginate @all_notifications
