// About
.ui.card
  .content
    // Name
    %h2= user.name

    // About description
    .description= profile_default(user, :about)

  .content
    .ui.items

      // Birthday
      .item
        %i.calendar.icon
        %p.middle.aligned.content
          = user.profile.birthday.nil? ? 'Age' : "#{user.profile.age} years old"
      // Education
      .item
        %i.student.icon
        %p.middle.aligned.content
          = profile_default(user, :education)
      // Hometown
      .item
        %i.home.icon
        %p.middle.aligned.content
          = profile_default(user, :hometown)
      // Profession
      .item
        %i.suitcase.icon
        %p.middle.aligned.content
          = profile_default(user, :profession)
          = profile_default(user, :company, '@')
      // Relationship status
      .item
        %i.empty.heart.icon
        %p.middle.aligned.content
          = profile_default(user, :relationship_status)
      // Email
      .item
        %i.at.icon
        %p.middle.aligned.content.break-word
          = user.email
      // Phone number
      .item
        %i.mobile.icon
        %p.middle.aligned.content
          = profile_default(user, :phone_number)
