// Avatar image
.ui.card
  .image
    - if current_user == user
      = link_to 'Change avatar', user_photo_album_path(current_user, user.photo_albums.where(name: 'Avatars').first),
        class: 'ui blue ribbon label'
    = image_tag user.profile.avatar.url :normal, alt: user.name

// Friendship
- unless current_user == user
  .ui.centered.segment
    = render_friendship user

// About
= render 'users/about', user: user

// Quick friends
.ui.card
  .content
    .ui.three.column.grid
      .three.column.row
        .column
          .ui.header Friends
      = render partial: 'users/user_thumb', collection: user.friends.limit(10), as: :user
