// Avatar image
.ui.card
  .image
    - if current_user == user
      = link_to 'Change avatar', user_photo_album_path(current_user, user.photo_albums.where(name: 'Avatars').first),
        class: 'ui blue ribbon label'
    = image_tag user.avatar.url :normal, alt: user.name

- unless current_user == user
  // Friendship
  .ui.centered.segment
    = render_friendship user

= render 'users/about', user: user

- if user.friends.any?
  // Quick friends
  .ui.card
    .content
      .ui.three.column.grid
        .three.column.row
          .column
            = link_to 'Friends', user_friendships_path(user), class: 'ui header'
        = render partial: 'users/user_thumb',
          collection: user.friends.limit(12).includes(:profile),
          as: :user
