.column
  .ui.raised.card
    .blurring.dimmable.image

      // Dimmer containing friendship button
      .ui.inverted.dimmer
        .content
          .center
            - if current_user == user
              .ui.teal.button It's you, yeey!!
            - else
              = render_friendship user

      // User's image
      = image_tag user.profile.avatar.url :normal
    .content

      // Link to user's name
      = link_to user.name, user, class: 'header'

      // When did the user join PeopleBook?
      .meta
        %span.date
          Joined
          = time_ago_in_words user.created_at
          ago

    // Link to and count of user's friends
    .extra.content
      = link_to user_friendships_path(user) do
        %i.users.icon
        = pluralize user.reload.friends.count, 'friend'
