= provide :title, @user.name

// User aside info
.four.wide.column
  = render 'users/aside', user: @user

// User main content
.twelve.wide.column
  .ui.centered.grid

    = render 'cover_menu', user: @user

    -# Render status update form if current_user == @user
    - if @user == current_user
      // Update status form
      .row
        .column
          = render 'status_updates/form', status_update: @new_status_update

    // Feed
    .row
      .column
        .ui.large.feed
          = render @feed
    = paginate @feed
