= provide :title, @user.name

// User aside info
.four.wide.column
  = render 'users/aside', user: @user

.twelve.wide.column

  // Cover photo and links
  = render 'cover_menu', user: @user

  // Update status form

  -# Render status update form if current_user == @user
  - if @user == current_user
    = render 'status_updates/form', status_update: @new_status_update

  // Feed
  .ui.large.feed
    = render @feed
