= provide :title, 'Edit your password'

.ui.padded.middle.aligned.centered.grid
  .fixed-width.column
    .ui.blue.secondary.raised.segment#form
      %h2.ui.center.aligned.header= yield :title
      = form_for(resource, as: resource_name,
        url: password_path(resource_name),
        html: { method: :put, class: 'ui form' },
        local: true) do |f|
        = devise_error_messages!
        = f.hidden_field :reset_password_token
        .field
          = f.label :password, "New password"
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          = f.password_field :password, autofocus: true, autocomplete: "off"
        .actions
          = f.submit "Change my password", class: 'ui blue fluid button'
