= provide :title, 'Reset your password'

.ui.padded.middle.aligned.centered.grid
  .fixed-width.column
    .ui.blue.secondary.raised.segment
      %h2.ui.center.aligned.header= yield :title
      = form_for(resource, as: resource_name, url: password_path(resource_name),
        html: { method: :post, class: 'ui form' }) do |f|
        = devise_error_messages!

        .field
          = f.label :email
          .ui.left.icon.input
            = f.email_field :email, autofocus: true, placeholder: 'Your email address'
            %i.at.icon

        .actions
          = f.submit "Send me password reset instructions", class: 'ui blue fluid button'
