.extra.statistics.content

  // Like
  %span.likes.actions
    = render_likes feedbackable

  %span.likes.count{ 'data-html': "#{render 'likes/tooltip', likeable: feedbackable}",
    'data-behavior': 'like-count-container' }
    = pluralize feedbackable.reload.likes_count, 'like'

  - if policy(feedbackable).comment?

    // Comment icon
    %a.whitespace--left
      %i.comment.icon{ 'data-behavior': 'comment-link' }

  // Comments count
  %a.comments_count{ 'data-behavior': 'show-comments' }
    = pluralize feedbackable.reload.comments_count, 'comment'

- if policy(feedbackable).comment?
  // Comment form
  .extra.content.comment__form{ style: 'display: none;',
    'data-behavior': 'comment-form' }
    = render partial: 'comments/form', locals: { commentable: feedbackable }
