- comments_path = send("#{feedbackable.class.to_s.underscore.downcase}_comments_path", feedbackable)
- likes_path = send("#{feedbackable.class.to_s.underscore.downcase}_likes_path", feedbackable)
- can_feedback = policy(feedbackable).feedback?
.content.statistics
  // Like action and statistics
  %span

    - if can_feedback
      = render_likes feedbackable

    %span.likes_count{ 'data-link': likes_path,
      'data-behavior': 'like-count-container',
      'data-inverted': '' }
      = pluralize feedbackable.likes.count, 'like'

  // Comment action and statistics
  %span.whitespace--left

    - if can_feedback
      %a{ 'data-tooltip': 'Comment', 'data-inverted': '' }
        %i.comment.icon{ 'data-behavior': 'comment-link' }

  %a.comments_count{ 'data-behavior': 'show-comments',
    'data-link': comments_path, 'data-tooltip': 'See comments', 'data-inverted': '' }
    = pluralize feedbackable.comments.count, 'comment'

- if can_feedback
  // Comment form
  .content.comment__form{ 'data-behavior': 'comment-form' }
    = form_with model: [feedbackable, Comment.new],
      class: 'ui form' do |form|

      = hidden_field_tag 'comment[author_id]', current_user.id

      .field
        = form.text_area :text, placeholder: 'Add comment', rows: 2

      .actions
        = form.submit 'Comment',
          class: 'ui blue right floated comment-submit button'

      = link_to 'Cancel', nil,
        data: { 'behavior': 'cancel-link' },
        class: 'ui right floated basic blue button'
