.home.row
  /* Main content
  .ten.wide.column
    .ui.centered.grid

      /* New status update form
      .row
        .column
          = render 'status_updates/form', status_update: @new_status_update

      /* Feed
      .row
        .column
          .ui.large.feed
            = render @feed
      = paginate @feed

  /* Activity
  .six.wide.column
    %h3.ui.top.attached.header Activity
    .ui.attached.segment.activity.feed
      .ui.segments
        - @activity.each do |notification|
          .ui.segment
            = render partial: "notifications/#{notification.notifiable_type.underscore.pluralize}/#{notification.action}",
                              locals: { notification: notification }
