= provide :title, "#{@user.name} | Friends"

// User aside info
.four.wide.column
  = render 'users/aside', user: @user

.twelve.wide.column
  .ui.centered.grid

    = render 'users/cover_menu', user: @user

    - if @friends.present?
      .row
        .column
          // Friends index
          .ui.three.stackable.cards
            = render partial: 'users/user', collection: @friends, as: :user
    .row
      = paginate @friends
