= form_with model: [author, @photo_album],
  class: 'ui form',
  multipart: true,
  local: true do |form|

  = render 'shared/errors', object: form.object

  .field
    = form.label :name
    - unless policy(@photo_album).default?
      = form.text_field :name
    - else
      = form.text_field :name, readonly: true

  .field
    = form.label :description
    = form.text_area :description, rows: 4

  .equal.width.fields
    = fields_for :images, @photo_album.images do |images_form|
      .field
        = images_form.label :images
        = images_form.file_field :image, multiple: true, name: 'images[image][]'

    = fields_for :cloud_image, @photo_album.cloud_image do |cloud_image_form|
      .field
        = cloud_image_form.label :cloud_image
        = cloud_image_form.text_field :remote_image_url, placeholder: 'Paste image url here...'

  .actions
    = form.submit class: 'ui positive button'
