= provide :title, "#{@author.name} | Photo Albums"

// User aside info
.four.wide.column
  = render 'users/aside', user: @author

.twelve.wide.column
  .ui.centered.grid

    = render 'users/cover_menu', user: @author

    // Photo albums
    .row
      .column
        .ui.top.attached.teal.clearing.segment
          %h2.ui.left.floated.header
            %i.camera.retro.icon
            .content
              Photo Albums

          // New photo album button
          - if policy(@author.photo_albums.build).create?
            = link_to new_user_photo_album_path(@author),
              class: 'ui right floated blue button' do
              %i.add.square.icon
              New Photo Album

    // Photo albums index
    - if @photo_albums.any?
      .row
        .column
          .ui.three.stackable.cards
            - @photo_albums.each do |photo_album|
              = link_to user_photo_album_path(@author, photo_album), class: 'ui card' do
                = image_tag photo_album.first_image
                .content
                  .header= photo_album.name
                  .description= pluralize photo_album.images.count, 'photo'
    - else
      %h3.ui.header No photo albums yet
