.ui.blue.inverted.borderless.menu

  /* Logo
  .item
    = link_to 'PeopleBook', root_path, class: 'ui inverted header'

  /* Search

  = form_with url: search_path,
    class: 'ui search item',
    method: :get do |form|
    .ui.icon.input
      = form.text_field :q, placeholder: 'Find people...', class: 'prompt'
      %i.inverted.teal.circular.link.search.icon
    .results

  /* Right header menu
  .right.menu

    // Friend requests notifications
    = render 'layouts/request_notifications'


    //Notifications
    .ui.floating.top.right.pointing.dropdown.item#notifications{ 'data-behavior': 'notifications',
      'data-link': 'notifications-link',
      'data-notifications': (render template: 'notifications/index',
      formats: [:json]) }

      /* Notifications bell icon and label
      .right.pointing.ui.red.label{ 'data-behavior': 'unread-count' }
      %i.bell.icon

      /* Notifications dropdown
      .menu
        - if @notifications.empty?
          %span.item No new notifications
        - if @all_notifications.size > 7
          // See all notifications link
          = link_to 'See all', notifications_path, class: 'active item center-text'

        // Notifications
        .items{ 'data-behavior': 'notification-items' }

        - if @notifications.any?
          // Clear notifications link
          = link_to clear_notifications_path,
            class: 'active item center-text',
            method: 'POST',
            data: { confirm: 'Are you sure?'} do
            Clear all notifications

    /* Current user profile links
    .ui.floating.pointing.top.right.hover.dropdown.item
      = link_to user_path(current_user) do
        = image_tag current_user.profile.avatar.url(:thumb), class: 'ui avatar image'
        = current_user.name
      .menu
        = link_to 'Edit account', edit_user_registration_path(current_user), class: 'item'
        = link_to 'Edit profile', edit_user_profile_path(current_user), class: 'item'
        -#= link_to 'Friends', user_friends_path(current_user), class: 'item'
        = link_to 'Logout', destroy_user_session_path, class: 'item', method: 'delete'
