!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
    %title= yield(:title).presence || 'PeopleBook'
    = render 'layouts/rails_default'

  %body{ class: class_string('background', [:grey] => current_user, [:blue] => !current_user ) }

    /* Header navigation menu
    = render 'layouts/header'

    .ui.centered.grid.container

      /* Flash container
      #flash
        = render 'shared/flash'

      = yield
